body {
	font-family: Arial, sans-serif;
	/* background-color: #f8f9fa; */
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.container {
	/* background-color: #ffffff; */
	padding: 30px;
	border-radius: 8px;
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

#jobScriptGenerator {
	display: flex;
	flex-wrap: wrap;
}
#jobScriptForm, #jobScript {
	flex: 1;
	min-width: 300px;
	padding: 10px;
}

#su {
	text-align: right;
}

/* Input form styling */
.form-group {
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: column;
}

.form-group label {
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
	padding: 0.5rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 1rem;
	width: 100%;
}

/* Table styling */
table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border: 1px solid #ddd;
	padding: 0.5rem;
}

th {
	background-color: #f2f2f2;
	text-align: left;
}

/* Span styling */
span {
	display: inline-block;
	margin-bottom: 0.5rem;
}

pre {
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 4px;
}

.input_partition_container, .input_gres_container, .input_constraint_container {
	background-color: #f2f2f2;
	padding: 10px;
	border-radius: 4px;
	margin: 5px;
}

.input-label {
	margin-right: 5px;
}

.input-pair {
	display: flex;
	align-items: baseline;
}

input[type="text"], input[type="number"] {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus {
	border-color: #4A90E2;
	box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
	outline: none;
}

/* Style for dropdowns */
select {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	transition: border-color 0.3s, box-shadow 0.3s;
}

select:focus {
	border-color: #4A90E2;
	box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
	outline: none;
}

input[type="checkbox"] {
	accent-color: #4A90E2;
}

.checkbox-label {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
	margin-right: 5px;
}

/* Copy button styling */
#copyButton {
	position: absolute;
	right: 10px;
	color:#4b4b4b;
	border: 0px;
	outline: none;
}

#copyButton i {
	transition: color 0.3s ease, transform 0.3s ease;
}

.fa-check {
	color: green;
	transform: scale(1.3);
}

.download-button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.download-button:hover {
	background-color: #45a049;
}